$eggshell: #F0EAD6
$appBorder: #654321
$appFill:#a36c23
$padWidth: 100px
$padHeight: 80px

@mixin rounded
    border-radius: 50px

@mixin hover
    &:hover     
        background-color: #f0e3b8
        font-weight: bold

@mixin fontStyle
    font-weight: 900
    font-size: 32px
    

body 
    background-color: $eggshell
    

#root 
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    

.app-container
    border: 5px solid $appBorder
    background-color: $appFill
    position: relative
    width: 660px
    text-align: center
    @include rounded
    .header
        background-color: green
        border: 3px solid $appBorder
        height: 50px
        width:635px
        margin: auto
        margin-top: 10px
        display: flex
        justify-content: center
        align-items: center
        @include rounded
        .header-p
            @include fontStyle
            
            
    .control-container
        display: flex
        flex-direction: row
    .pad-container
        display: grid
        grid-template-rows: 1fr 1fr 1fr
        grid-template-columns: 1fr 1fr 1fr
        width: $padWidth * 3 + 32
        height: $padHeight * 3 + 32
        margin: 20px
        .drum-pad
            display: flex
            background-color: $eggshell
            align-items: center
            justify-content: center
            border: 3px solid $appBorder
            @include rounded
            @include hover
            
            margin: 5px
    .display-bar
        align-self: center
        display: grid
        background-color: $eggshell
        border: 3px solid $appBorder
        width: $padWidth * 3
        height: $padHeight
        margin: 20px
        padding: 5px
        @include rounded
        .display-p
            @include rounded
            @include fontStyle
            margin: 20px
            
            

        

        
